body {
	background-color: #DCD0C0;
	background-image: url("/bg/ricepaper.jpg"); 
	font-family: 'IM Fell DW Pica', serif;
    background-color: #DCD0C0;
    color: #4E4E56;
    height: 100%;
    background-position: top;
    background-repeat: repeat;
}
.bottom-vault {
	border-bottom: 2px solid black;
}
.bottom-vault {
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.vault-close {
	position: absolute;
    top: 20px;
    right: 25px;
}

.modal-border-middle {
	margin-top: -6px;
    padding-right: 0px;
    padding-left: 0px;
    background-image: url(/css/vault_banner.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bottom-left-corner {
	position: absolute;
    bottom: 15px;
    right: 15px;
}

.bottom-right-corner {
	position: absolute;
    bottom: 15px;
    left: 15px;
}
.push-50-pct {
	margin-right: 25%;
	margin-left: 25%;
}
.push-25-pct {
	margin-left: 12.5%;
    margin-right: 12.5%;
}
.polaroid-1 {
    width: 55%;
}

.polaroid-2 {
	width: 40%;
    margin-top: 120px;
    margin-left: -10%;
}

.polaroids {
	margin-top: -185px;
}

.buttons {
	padding-left: 40px;
}
.vault-modal {
    background-image: url(/bg/ricepaper.jpg);
    box-shadow: 0px 5px 10px 5px;
}
.side-tabs {
	position: absolute;
    right: -50px;
    top: 18px;
    z-index: 9999;
}
.pager .page-link {
	background-color: transparent;
    border: 1px solid black;
    border-radius: 0px;
    color: black;
}

a.page-link:hover {
	text-decoration: none;
	background-color: #B1938B;
	cursor: pointer;
}

.vault-tab {
	width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background-image: url(/bg/ricepaper.jpg);
    box-shadow: 10px 1px 10px -2px;
    padding: 12px;
    border-left: 1px solid black;
}
.modal-border-side {
	border-top: 2px solid black;
}

.modal-border-middle .modal-title {
	text-align: center;
    font-size: 1.5rem;
    padding-bottom: 35px;
    padding-top: 6px;
}
.logo {
	height: 50px;
    position: relative;
    float: right;
    padding-right: 40px;
    margin-top: -40px;
}
nav.top {
    position: absolute;
    top: 40px;
    width: 100%;
}
.jim-container {
    padding: 3rem 1.5rem;
    clear: both; 
}

.hero {
	position: absolute;
    top: 140px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.scene {
/*	box-shadow: -5px 5px 10px 0px;*/
	margin-top: -90px;
}
.story-card {
	margin-bottom: 1rem;
	border: 1px solid black;
    border-radius: 0px;
    background: transparent;
    min-height: 250px;
}

.vault-card, .vault-card-locked {
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lock-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#vault {
    background-image: url("/bg/ricepaper2.jpg");
    z-index: 9999;
    padding: 1rem;
}

.vault-text {
	font-size: .75rem;
}

.new-vault-item {
	position: absolute;
    top: 0px;
    right: 1px;
}

#alert_area {
	z-index: 20;
}
.alert-unlock {
	color: #856404;
    background-color: #fff3cd;
    border-color: gray;
    box-shadow: black 4px 4px 30px;
}

.btn .badge-vault {
    position: relative;
    top: -15px;
    left: -20px;
    border: solid 1px #4E4E56;
}

.badge-vault-text {
    color: white;
    background-color: #6E7A73;
    font-weight: 100;
    padding-bottom: 8px;
}


.c-offcanvas--right {
	width: 40em;
}
a.squiffy-link:hover {
	text-decoration: none;
	background-color: #B1938B;
	cursor: pointer;
}

a.squiffy-link {
	color: #4E4E56;
	background-color: transparent;
	display: block;
	width: 100%;
	font-style: italic;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .2rem;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #4E4E56;

	margin-bottom: 1rem;

}

a.squiffy-link.disabled {
	opacity: .65;
}

a.vault-header {
	color: #4E4E56;
}

a.vault-header:hover {
	color: #6E7A73;
}

/* OVERRIDES */
@media (min-width: 992px)
.modal-lg {
    max-width: 980px!important;
}